@import "bourbon";
@import "neat";
@import "base";
@import "variables";

.container {
    @include grid-container;
    max-width: 1080px;
    margin: 0 auto;
}

header {
    @include grid-container;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: white;

    .site-name {
        @include grid-column(4);
        font-weight: 800;
        color: #333747;
    }

    .pesan {
        @include grid-column(8);
        text-align: right;

        span {
            transition: all .5s ease;
            background: #f6977b;
            color: #ffffff;
            padding: 12px 20px;
            border-radius: 30px;
            &:hover {
                transition: all .5s ease;
                transform: scale(1.1);
                font-size: 1.1rem;
                z-index: 9999;
                position: relative;
                font-weight: 800;
            }
        }
        
        a, a:visited {
            color: white;
        }
    }
}

.hero {
    @include grid-container;
    padding: 200px 20px 60px;
    text-align: center;
    
    @include grid-media($mobile) {
        padding: 80px 20px 0;
    }

    h1 {
        font-weight: 800;
        letter-spacing: -4px;
        font-size: 4.6rem;
        line-height: 1.15;
        margin-bottom: 80px;

        @include grid-media($mobile) {
            font-size: 4rem;
        }
    }

    .pesan {
        text-align: center;
        font-size: 1.15rem;

        span {
            transition: all .5s ease;
            background: #f6977b;
            color: #ffffff;
            padding: 18px 26px;
            border-radius: 60px;
            -webkit-box-shadow: 0px 4px 14px 0px rgba(102, 128, 143, 0.47);
            -moz-box-shadow: 0px 4px 14px 0px rgba(102, 128, 143, 0.47);
            box-shadow: 0px 4px 14px 0px rgba(102, 128, 143, 0.47);
            &:hover {
                transition: all .5s ease;
                transform: scale(1.3);
                font-size: 1.3rem;
                z-index: 9999;
                position: relative;
                font-weight: 800;
            }
        }
    }
    
    a, a:visited {
        color: white;
    }

    h3 {
        margin-top: 80px;
        font-weight: normal;
        margin-bottom: 80px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        @include grid-media($desktop) {
            @include grid-shift(3);
            @include grid-column(6);
        }
        @include grid-media($mobile) {
            @include grid-column(12);
        }
    }
}


.explore {
    .point {
        @include grid-container;
        margin-top: 60px;
        align-items: center;
        justify-content: center;
        @include grid-media($mobile) {
            text-align: center;
        }
    }

    h2 {
        letter-spacing: -1px;
        font-size: 2.2rem;
        font-weight: 800;
        line-height: 1.25;
        @include grid-media($mobile) {
            font-size: 2rem;
        }
    }

    .left,
    .right {
        @include grid-column(6);
        @include grid-media($mobile) {
            @include grid-column(12);
        }
    }
    
    .left {
        @include grid-media($mobile) {
            @include grid-column(12);
            margin-left: 0;
        }
    }
    
    .col-satu, .col-tiga {
        @include grid-media($mobile) {
            display: flex;
            flex-direction: column-reverse;
            .left {
                    order: 1;
                }
            .right {
                    order: 2;
                }
        }
    }
}
    

.portfolio {
    padding: 0 0 40px;
    @include grid-media($mobile) {
        padding: 0 20px;
    }
    .owl-stage-outer {
        padding: 100px 0;
        @include grid-media($mobile) {
            padding: 0;
        }
    }
    .owl-item {
        transition: all .5s ease;
        background: white;
        padding: 30px;
        border-radius: 12px;
        text-align: left;
        height: 300px;
        -webkit-box-shadow: 0px 0px 15px 9px rgba(186,195,196,0.39);
        -moz-box-shadow: 0px 0px 15px 9px rgba(186,195,196,0.39);
        box-shadow: 0px 0px 15px 9px rgba(186,195,196,0.39);
        &:hover {
            transition: all .5s ease;
            transform: scale(1.1);
            font-size: 1.1rem;
            z-index: 99;
            position: relative;
        }
        .project-title {            
            font-size: 1.4rem;
            font-weight: 800;
            color: #231F20;
            letter-spacing: -1px;
            padding-bottom: 16px;
            &:after {
                content:"";
                display:block;
                width: 2em;
                max-width:40%;
                border-bottom: 1px solid #231F20;
                margin-top: 16px;
            }
        }
        small {
            font-size: 14px !important;
            font-weight: normal;
            line-height: 1;
            padding-top: 16px;
        }
    }
}

.cta-container {
    background: url(assets/images/yeah.png) bottom center no-repeat #e4eced;
    background-size: cover;
}
.cta {
    @include grid-container;
    text-align: center;
    @include grid-media($mobile) {
        padding: 60px 0 0;
    }
    h2 {
        padding: 100px 0 0;
        letter-spacing: -1px;
        font-size: 2.6rem;
        font-weight: 800;
        line-height: 1.25;
    }

    .pesan {
        text-align: center;
        font-size: 1.5rem;
        @include grid-media($mobile) {
            margin-top: 0;
        }

        span {
            transition: all .5s ease;
            background: #f6977b;
            color: #ffffff;
            padding: 18px 26px;
            border-radius: 60px;
            -webkit-box-shadow: 0px 4px 14px 0px rgba(102, 128, 143, 0.47);
            -moz-box-shadow: 0px 4px 14px 0px rgba(102, 128, 143, 0.47);
            box-shadow: 0px 4px 14px 0px rgba(102, 128, 143, 0.47);
            &:hover {
                transition: all .5s ease;
                transform: scale(1.6);
                font-size: 1.6rem;
                z-index: 9999;
                position: relative;
                font-weight: 800;
            }
        }
        
        a, a:visited {
            color: white;
        }
    }

}

.credit {
    background: white;
    padding: 100px 0;
    font-size: 14px;
    
    a, a:visited {
        color: dodgerblue;
    }
    .footer {
        @include grid-container;
        .left,
        .right {
            @include grid-column(6);

            @include grid-media($mobile) {
                @include grid-column(12);
                height: inherit;
                padding-top: 40px;
            }
        }
        .right {
            text-align: right;
        }
        .left, .right {
            @include grid-media($mobile) {
                text-align: center;
            }
        }
    }
}