html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0;
  /* prevents horizontal scroll bars */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* disable webkit tap highlight */
  height: 100%;
  /* fixes focus scrolling in Safari (OS X) */ }

body {
  background: #242424;
  color: #eaeaea;
  font-family: 'Hind', sans-serif;
  font-size: 1.6rem;
  color: #f7f7f7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-transition: 0s linear;
  -o-transition: 0s linear;
  transition: 0s linear;
  -webkit-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a,
a:visited {
  color: #0E0B08;
  outline: hidden;
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  color: #242424;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

img {
  height: auto;
  max-width: 100%; }

/* TYPOGRAPHY */
h1 {
  font-size: 1.275rem; }

h2 {
  font-size: 1.200rem; }

h3 {
  font-size: 1.150rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

/* POSITIONING */
.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

/* WRAPPER */
#container {
  background: url(../images/HOMEPAGE.jpg) top center no-repeat;
  padding: 30px 30px 70px; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }

.header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 40px 0; }
  .header:last-child {
    margin-right: 0; }
  @media screen and (max-width: 799px) {
    .header {
      padding: 40px 0 0; } }

/* HEADER */
.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .logo:last-child {
    margin-right: 0; }
  .logo span {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    color: #faed25;
    font-weight: 800;
    letter-spacing: -2px; }

.chat {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  font-weight: 700;
  font-size: 16px;
  color: #242424;
  text-align: right;
  padding-top: 2px; }
  .chat:last-child {
    margin-right: 0; }
  @media screen and (max-width: 799px) {
    .chat {
      padding-top: 7px; } }
  .chat a {
    background: #faed25;
    padding: 6px 28px;
    border-radius: 3px;
    text-transform: lowercase !important; }
    @media screen and (max-width: 799px) {
      .chat a {
        padding: 6px 12px; } }

/* HERO */
.hero {
  padding: 80px 0 120px; }
  @media screen and (max-width: 799px) {
    .hero {
      padding: 0 0 20px; } }
  .hero h1 {
    font-size: 132px;
    letter-spacing: -10px;
    color: #faed25;
    font-weight: 700;
    margin-bottom: 0; }
    @media screen and (max-width: 799px) {
      .hero h1 {
        font-size: 70px;
        letter-spacing: -2px;
        line-height: 1; } }
  .hero .sub {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px; }

/* CONTACT */
a.widget-link {
  color: #fff !important; }

.widget-contact {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border-radius: 3px;
  background: #0f1311;
  padding: 2.35765%;
  line-height: 1; }
  .widget-contact:last-child {
    margin-right: 0; }
  @media screen and (max-width: 799px) {
    .widget-contact {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 20px; }
      .widget-contact:last-child {
        margin-right: 0; } }
  .widget-contact .icon {
    border-radius: 3px;
    color: #fff;
    padding: 18px 22px;
    display: inline-block; }
    .widget-contact .icon.whatsapp {
      background: #1d8e45; }
    .widget-contact .icon.email {
      background: #cd1f49; }
    .widget-contact .icon.instagram {
      background: #8b489c; }
  .widget-contact .widget-text {
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 700;
    display: inline-block;
    margin-left: 10px; }
