body {
    background: #c5c9cf;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    padding: 10px 0;
}

.slick-arrow {
    display: none !important;
}

/* MAIN CONTAINER */

#main-container {
    -webkit-box-shadow: 0px 0px 47px 0px rgba(65, 74, 79, 0.55);
    -moz-box-shadow: 0px 0px 47px 0px rgba(65, 74, 79, 0.55);
    box-shadow: 0px 0px 47px 0px rgba(65, 74, 79, 0.55);
    background: #f5f5f5;
    padding: 20px 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* HEADER */

.site-logo {
    margin-bottom: 6px;
}

.header-kontak {
    text-align: right;
}

.socmed > ul {
    list-style: none;
    margin-bottom: 0 !important;
}

.socmed li {
    display: inline;
    margin-left: 6px;
}

.hotline {
    display: inline-block;
}

.hotline-text {
    text-align: left;
    display: block;
    text-transform: uppercase;
    font-size: 8px;
}

.hotline-number {
    font-size: 28px;
    font-weight: 900;
}


/* MENU NAVIGASI */

.topnav {
    background: #a90329;
    border-radius: 12px;
    overflow: hidden;    
    border: 1px solid #B0B0B0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(205, 205, 205, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
    
    font-size: 14px;
    padding: 8px 12px;
    color: #4D4D4D;
    font-weight: 700;
    text-transform: uppercase;
    -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#a6ffffff, Positive=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #a6ffffff,Positive = true)";
    -webkit-transition: color 200ms ease-in, background .5s linear;
    -moz-transition: color 200ms ease-in, background .5s linear;
    -o-transition: color 200ms ease-in, background .5s linear;
    transition: color 200ms ease-in, background .5s linear;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #FAFBFA;
}

.topnav a:last-child {
    border-right: none;
}

.topnav a:hover {
    background-color: #3b3b3b;
    color: #fff;
}

.topnav a.active {
    background-color: #3b3b3b;
    color: white;
}

/* SLIDE */

#slider {
    margin-top: 20px;
}

.slide-contant {    
    border-radius: 12px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
}

.slide-contant img {    
    border-radius: 12px;
}

/* TENTANG KAMI */

.tentang-kami { 
    background: url(img/maskot.jpg) bottom right no-repeat #fff;
    max-height: 224.250px;
    border-radius: 12px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
}

.tentang-kami-content {    
    padding: 10px 20px;
}

.more-button {
    color: #4D4D4D;
    border: 1px solid #B0B0B0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(205, 205, 205, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
    border-radius: 10px;
    font-size: 11px;
    overflow: hidden;
    padding: 6px 10px;
    text-transform: uppercase;
}

.more-button:hover {
    text-decoration: none;
}

/* LAYANAN */

.layanan {
    margin-top: 20px;
}

.layanan ul {
    list-style: none;
}

.layanan ul li {
    display: inline-block;
    border-radius: 12px;
}

.layanan-item {
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 12px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.35);

}

.layanan-content {
    text-align: center;
    color: #111;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    padding: 8px;
    background: white;
    width: 204px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.line {
    height: 1px;
}

/* CONTENT */

#content {
    margin-top: 20px;
}

/* FOOTER */

.footer {
    color: #939393;
    margin-top: 20px;
    font-size: 12px;
    padding-bottom: 20px;
}

.footer-menu {
    text-align: right;
    text-transform: uppercase;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu a {
    color: #939393;
    font-weight: 700;
}